* {
    color: white;
    font-size: 20px;
}
ul :hover {
    color: rgb(40, 206, 7)
}
.hover :hover {
    color: rgb(40, 206, 7)
}
.resume-main {
    font-size: 22px !important;
}
.title-resume {
    font-size: 64px;
    background-color: transparent;
    color: white;
}
.prj-title-resume {
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    font-size: 30px;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: transparent;
    border: 5px solid  black;
}
.prj-title-resume:hover {
    background-color: black;
    color: whitesmoke;
}
.name {
    font-size: 32px;
    color: white;
    font-weight: bold;
    animation-name: name;
    animation-duration: 4s;
}
@keyframes name {
  0%   {left:0px}
  50%  {left:745px}
  100% {left:0px}
}
.text-dec-none {
    text-decoration: none;
    color: white;
}
.resume-heading {
    color: white;
}